In [ ]:
import numpy as np

import pandas as pd

In [ ]:
# Part 1 : Basic Operations
# 1. Load the dataset using Pandas.
df = pd.read_csv('C:\\Users\\lenovo\\OneDrive\\Desktop\\Python 3.0\\Students_data.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
# 2. Display the first 5 rows of the dataset.
df.head(5)
# 3. Display the last 5 rows of the dataset.
df.tail(5)
# 4. Check the shape, size, and ndim attributes of the DataFrame.
df.shape     
df.size
df.ndim

2

In [12]:
# 5. Display the column names.
df.columns
# 6. Check the data types of all columns.
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [25]:
# 7. Check for any missing values in the dataset.
df.isnull().sum()
# 8. Select and display only the math score and reading score columns.
df[['math score', 'reading score']]
# 9. Find the number of male and female students (count of each gender).
df['gender'].value_counts()
# 10. Find the unique values present in the lunch column.
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [34]:
# Part 2: Filtering Questions
# 1. Find and display the records of students who scored more than 80 in math score.
df[df['math score'] > 80]
# 2. Find and display the records of students who scored less than 50 in writing score.
df[df['writing score'] < 50]
# 3. Filter and display the students who completed the test preparation course.
df[df['test preparation course'] == 'completed']
# 4. Find and display the records of female students with a reading score greater than 70.
df[(df['gender'] == 'female') & (df['reading score'] > 70)]
# 5. Find and display the records of students who got free/reduced lunch.
df[df['lunch'] == 'free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [41]:
# Part 3: Basic Aggregation
# 1. Find the average of the math score.
df['math score'].mean()
# 2. Find the maximum and minimum values in the reading score column.
df['reading score'].max()
df['reading score'].min()
# 3. Count the number of students grouped by race/ethnicity.
df.groupby('race/ethnicity').size()
df['race/ethnicity'].value_counts()
# 4. Find the average writing score grouped by gender.
df.groupby('gender')['writing score'].mean()
# 5.  Sort the students by math score in descending order and display the top 10.
df.sort_values(by='math score', ascending=False).head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
962,female,group E,associate's degree,standard,none,100,100,100
458,female,group E,bachelor's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
451,female,group E,some college,standard,none,100,92,97
623,male,group A,some college,standard,completed,100,96,86
263,female,group E,high school,standard,none,99,93,90
114,female,group E,bachelor's degree,standard,completed,99,100,100
306,male,group E,some college,standard,completed,99,87,81

In [ ]:
# Part 4: Beginner Friendly Tasks
# 1. Create a new column named total_score, which is the sum of math score, reading score, and writing score.
df['total_score'] = (df['math score'] + df['reading score'] + df['writing score'])
# 2. Create a new column named average_score (total score divided by 3).
df['average_score'] = df['total_score'] / 3
# 3. Add a column named result. A student passes if their average_score is 60 or above; otherwise, they fail. (Hint: Use a conditional function or lambda expression).
df['result'] = df['average_score'].apply(
    lambda x: 'Pass' if x >= 60 else 'Fail')
df
# 4. Find the top 5 students based on their total_score.
df.sort_values(by='total_score', ascending=False).head(5)
# 5. Find the bottom 5 students based on their math score.
df.sort_values(by='math score', ascending=True).head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average_score,result
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000,Fail
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333,Fail
17,female,group B,some high school,free/reduced,none,18,32,28,78,26.000000,Fail
787,female,group B,some college,standard,none,19,38,32,89,29.666667,Fail
145,female,group C,some college,free/reduced,none,22,39,33,94,31.333333,Fail